﻿@{
ViewData["Title"] = "Swines";
}


<div class="am-page-shell">

    <div class="page">
    <header class="page-header">
        <div>
            <h1 class="page-title">Swines</h1>
            <p class="page-subtitle">Lista de suínos cadastrados no AgroManager.</p>
        </div>

        <div class="am-inline-actions">
                <a class="am-link-p lainprimary-button" href="/swines/create">+ Novo Swine</a>
        </div>
    </header>

    <section class="datagrid-wrapper">
        <table class="datagrid">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>Origem</th>
                    <th>Nascimento</th>
                    <th>Idade</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody id="rows"></tbody>
        </table>
    </section>

    <footer class="footer-info">
        <span>Fonte dos dados: Postgres (Docker) via EF Core.</span>
        <span id="count">0 registro(s) exibidos</span>
    </footer>
</div>
</div>

@section Scripts {
<script src="~/js/pages/swines/index.js" asp-append-version="true"></script>
}
