<header class="topbar">
    <a class="brand" asp-controller="Home" asp-action="Index">AgroManager</a>

    <div class="dropdown">
        <button class="btn profile-trigger rounded-pill d-flex align-items-center gap-2 px-3"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-label="Acessar conta">
            <i class="bi bi-person-circle fs-5"></i>
            <span>Conta</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                    Acessar conta
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                    Perfil
                </a>
            </li>
        </ul>
    </div>
</header>