@{
    ViewData["Title"] = "Início";
}


@section Styles {
    <link rel="stylesheet" href="~/css/pages/shared/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/components/card/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/components/progress-circle/progressCircle.css" asp-append-version="true" />

}



<div class="home-shell">


    <main class="hero">
        <h1>Obras ativas de Facilities</h1>
        <p>
            Painel de Monitoramento das obras ativas do setor de Facilities. Escolha uma das obras para supervisionar.
        </p>

        <section class="cards-grid" aria-label="Módulos de gerenciamento">

            <a class="feature-card" asp-controller="bovines" asp-action="Index">

                <span class="feature-icon" aria-hidden="true">
                    <img class="feature-icon-svg" src="~/assets/icons/monitor.svg" alt="" />
                </span>

                <h2>Obra do segundo Andar</h2>
                <p style="margin-left: auto">Téc. Responsável : Alexsandro Pereira</p>

                <div class="progress-circle" style="--value: 85; --color: #22c55e;" data-label="85%">                       
                    <svg viewBox="0 0 100 100">
                        <circle class="progress" cx="50" cy="50" r="42" pathLength="100" />
                    </svg>
                </div>
                
                
            </a>

            <a class="feature-card" style="--feature-accent: var(--color-swines); --feature-icon-background: var(--color-swines-soft);" asp-controller="Swines" asp-action="Index">
                <span class="feature-icon" aria-hidden="true">
                    <img class="feature-icon-svg " style="margin-top: 0.25rem;" src="~/assets/icons/swines.svg" alt="" />
                </span>
                <h2>Gerenciar Suínos</h2>
                <p>Organize os suínos por status, origem e evolução produtiva.</p>
                <span class="tag" style="color: var(--color-swines);">Abrir módulo <i class="bi bi-arrow-right-short"></i></span>
            </a>

            <a class="feature-card" style="--feature-accent: var(--color-batches); --feature-icon-background: var(--color-batches-soft);" asp-controller="Batch" asp-action="Index">
                <span class="feature-icon" aria-hidden="true">
                    <img class="feature-icon-svg" style="height: 2.4rem; width: 2.4rem;" src="~/assets/icons/batches.svg" alt="" />
                 </span>
                <h2>Gerenciar Lotes</h2>
                <p>Visualize e administre lotes para otimizar alocação e manejo no dia a dia.</p>
                <span class="tag" style="color: var(--color-batches);">Abrir módulo <i class="bi bi-arrow-right-short"></i></span>
            </a>
        </section>
    </main>
</div>
